
.DS_Store

.AppleDouble

.LSOverride

# Icon must end with two \r characters

Icon


.Spotlight-V100

.Trashes

.VolumeIcon.icns

.fseventsd

.com.apple.timemachine.donotpresent

.metadata_never_index

.apdisk

.vscode/